

<center><h2>Student Management</h2></center>

<form action="/students/list">
  <table>
    <tr>
      <td>Department:</td>
      <td><select name="dept">
          <% for department in @departments %>
            <option value="<%= department.id %>"> <%= department.name %>
          <% end %>
          </select>
      </td>

    </tr>
    <tr>
      <td>Semester:</td>
      <td><input type="text" name="semester"/>
    </tr>
    <tr>

    </tr>
  </table>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Go"/>
</form>
