

<% @page_title="Add new Student" %>


<div>
  <center><h2>Add a new Student</h2></center>

  <%= form_for(:student, :url => {:action => 'create'}) do |f| %>

   <%= render( :partial => "form", :locals=>{:f=>f}) %>

    <div>
      <%= submit_tag("Add Student") %>
    </div>

  <% end %>
</div>
