<% @page_title="Add new Subject" %>
<%= link_to("<< Back to Index", {:action => 'index'}, :class => 'back-link') %>

<div class="subject new">
  <h2>Create Subject</h2>

  <%= form_for(:subject, :url => {:action => 'create'}) do |f| %>


<%= render(:partial => "form", :locals => {:f => f}) %>
    <div class="form-buttons">
      <%= submit_tag("Create Subject") %>
    </div>

  <% end %>
</div>
