 <table>
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th>Department</th>
        <td><%= collection_select(:exam, :department_id, Department.all, :id, :name) %>
</td>
      </tr>
      <tr>
        <th>Semester</th>
        <td><%= f.text_field(:semester) %></td>
      </tr>
      <tr>
        <th>Date</th>
        <td><%= date_select :exam,:date %></td>
      </tr>

    </table>
