<center><h2>Update Marks</h2></center>

<br>

<h5>Please select the Subject:</h5>
<table>
  <tr>
    <th>Subject Code</th>
    <th>Subject Name</th>
    <th></th>
  </tr>
  <% for subject in @subjects %>
    <tr>
      <td><%= subject.subject_code %></td>
      <td><%= subject.name %></td>
      <td><%= link_to "Update Marks",{:controller=>"marks",:action=>"edit_marks",:subject=>subject.id,:exam=>@exam.id} %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to "Back to Exam Management",:controller=>'exams',:action=>'exam_mgmt', :id=>@exam.id%>
