<html>
<head>
  <title>PIT Student Marks</title>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    table
    {
    border-collapse:collapse;
    }
    table,th, td
    {
    border: 1px solid black;
    padding: 5px 5px
    }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
